{% extends "admin/base.html" %}
{% block content %}
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">{{name}}</h1>
  <p class="mb-4">{{description}}</a>.</p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Total: {{len(items)}}</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              {% for attribute in headers %}
                <th>{{attribute}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tfoot>
            <tr>
              {% for attribute in headers %}
                <th>{{attribute}}</th>
              {% endfor %}
            </tr>
          </tfoot>
          <tbody>
            {% for item in items %}
            <tr>
              {% for att in item %}
                <td>{{att}}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
{% endblock content %}