{% extends "base.html" %}
{% block headcontent %}
<style>
.text-align {
  background: url("{{url_for('static', filename='img/star-rating-sprite.png')}}") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
}
.product_star_rating {
    background: url("{{url_for('static', filename='img/star-rating-sprite.png')}}") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
    
}

#product_review {
    {% if review %}
    width: {{(review / 5)*100}}%;
    {% else %}
    width: 0%;
    {% endif %}
}

{% for product, rating in zip(similar_products, similar_ratings) %}
#{{remove_starting_digits(product.id)}} {
    {% if rating %}
    width: {{((rating.review / 5)*100)}}%;
    {% else %}
    width: 0%;
    {% endif %}
}
{% endfor %}
</style>

{% endblock headcontent %}
{% block content %}
<div class="container">

    <div class="card mt-4">
        <img class="card-img-top img-fluid" src="{{url_for('static', filename='img/products/{}'.format(img))}}" alt="">
        <div class="card-body">
            <h3 class="card-title">{{product.name}}</h3>
            <h4>${{product.price}}</h4>
            <p class="card-text">{{product.description}}</p>
            <span id="rating-text" class="text-info">
                Not rated
            </span>
            <div class="text-align"><span class="product_star_rating" id="product_review"></span></div>
            <br>
            <span class="text-muted">Category: </span>
            <b class="text-primary text-capitalize">{{product.tags}}</b>
        </div>
    </div>
    <br>
    <h4 class="text-muted">Similar Products</h4>
    <br>
    <div class="row">

        {% for product in similar_products %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="{{url_for('product.product', product_id=product.id)}}"><img class="card-img-top"
                        src="{{url_for('static', filename='img/products/{}'.format(os.path.basename(product.image)))}}"
                        alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{{url_for('product.product', product_id=product.id)}}">{{product.name}}</a>
                    </h4>
                    <h5>${{product.price}}</h5>
                    <p class="card-text">{{product.description}}</p>
                </div>
                <div class="card-footer">
                    <div class="text-align"><span class="product_star_rating" id="{{remove_starting_digits(product.id)}}"></span></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script>
        {% if review %}
        $("#rating-text").text({{ review }}.toFixed(2) + " Stars");
        {% endif %}
        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;

        const recognition = new SpeechRecognition();
        recognition.interimResults = false;
        recognition.lang = "en-US";

        recognition.addEventListener("result", function (e) {

            const transcript = e.results[0][0].transcript;
            const confidence = e.results[0][0].confidence;
            var fd = new FormData();
            fd.append("transcription", transcript);
            fd.append("confidence", confidence);
            fd.append("product_id", "{{product.id}}")
            console.log(transcript + ": " + confidence);
            $.ajax({
                type: "POST",
                url: "{{url_for('product.upload_review')}}",
                data: fd,
                cache: false,
                processData: false,
                contentType: false
            }).done(function (review_score) {
                console.log(review_score);
                $("#product_review").css("width", (review_score/5)*100 + "%");

                $("#rating-text").text(parseFloat(review_score).toFixed(2) + " Stars");
            });
        });

        recognition.start();

    </script>
</div>
<!-- /.col-lg-9 -->
{% endblock content %}