{% extends "base.html" %}
{% block headcontent %}
    <style>
    
        .carousel-img {
            width: 900px;
            height: 450px;
        }
        
        .text-align {
            background: url("{{url_for('static', filename='img/star-rating-sprite.png')}}") repeat-x;
            font-size: 0;
            height: 21px;
            line-height: 0;
            overflow: hidden;
            text-indent: -999em;
            width: 110px;
        }

        .product_star_rating {
            background: url("{{url_for('static', filename='img/star-rating-sprite.png')}}") repeat-x;
            background-position: 0 100%;
            float: left;
            height: 21px;
            display:block;        
        }

        {% for product, rating in zip(products, ratings) %}
        #{{remove_starting_digits(product.id)}} {
            {% if rating %}
            width: {{(rating.review / 5)*100}}%;
            {% else %}
            width: 0%;
            {% endif %}
        }
        {% endfor %}

    </style>
    <script>
        $(function(){
            $("img").css("height", "40%");
        })
    </script>
    
{% endblock headcontent %}
{% block content %}

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-3">
            <h1 class="my-4">
                {% if category %}
                {{category.replace("_", " ").capitalize()}}
                {% else %}
                Categories
                {% endif %}
            </h1>
            <div class="list-group" id="list-tab" role="tablist">
                
                {% for tag, count in tags.items() %}
                {% if category == tag %}
                <a class="list-group-item list-group-item-action active" href="{{url_for('categories', category=tag)}}"
                    aria-controls="home">{{tag.replace("_", " ").capitalize()}}<span class="badge badge-secondary badge-pill">  {{count}}</span></a>
                    
                {% else %}
                <a class="list-group-item list-group-item-action" href="{{url_for('categories', category=tag)}}"
                    aria-controls="home">{{tag.replace("_", " ").capitalize()}}<span class="badge badge-primary badge-pill">  {{count}}</span></a>
                    
                {% endif %}
                {% endfor %}
            </div>
        </div>
        
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for i in range(len(chosen_products)) %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{i}}" class="active"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner" role="listbox">
                    {% for i, product in enumerate(chosen_products) %}
                        {% if i == 0 %}
                        <div class="carousel-item active">
                        {% else %}
                        <div class="carousel-item">
                            {% endif %}
                            <a href="{{url_for('product.product', product_id=product.id)}}">
                                <img class="d-block img-fluid carousel-img"
                                    src="{{url_for('static', filename='img/products/{}'.format(os.path.basename(product.image)))}}"
                                    alt="slide">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="row">
                    {% for product in products %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="{{url_for('product.product', product_id=product.id)}}"><img class="card-img-top"
                                    src="{{url_for('static', filename='img/products/{}'.format(os.path.basename(product.image)))}}"
                                    alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{{url_for('product.product', product_id=product.id)}}">{{product.name}}</a>
                                </h4>
                                <h5>${{product.price}}</h5>
                                <p class="card-text">{{product.description}}</p>
                            </div>
                            <div class="card-footer">
                                <div class="text-align"><span class="product_star_rating" id="{{remove_starting_digits(product.id)}}"></span></div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <br>
                    <br>
                    <h4>Not products available.</h4>
                    {% endfor %}

                </div>
                <!-- /.row -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Smart Recommandation Project 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    {% endblock content %}